<div class="container">
  <section>
    <h3>Strong</h3>
    <strong>
      <strong>Warning!</strong> Be sure to <strong>extinguish</strong> all fires!
    </strong>
    <p>Strong denotes a span of text to be of high importance.</p>
  </section>
  <section>
    <h3>Relevance (mark)    </h3>
      "Read my lips: <mark>no new taxes</mark>", declared the chancellor.

  </section>
  <section>
    <h3>Blockquote</h3>
    <blockquote>
      <h5>Quotation</h5>
      <p>The more I practise, the luckier I get!</p>
    </blockquote>
  </section>
  <hr />
  <section>
    <h3>Details</h3>
    <p>This is not supported in all browsers.</p>
    <details>
      <summary>Quote from Gary Player</summary>

      <p>The more I practise, the luckier I get!</p>
    </details>
  </section>
  <hr />
  <section>
    <h3>Figure</h3>
    <figure>
      <img style="height: 300px; width: 300px;" src="assets/images/se.jpg" alt="Schnabel" />
      <figcaption>An example of a beautiful schnabel.</figcaption>
    </figure>
  </section>
  <section>
    <h3>Preformatted</h3>
    <pre>
      let firstName: string = "Andreas";
      let lastName: string = "van Greunen";

      showAlert(msg: string): void {{'{'}}
        alert(msg);
      {{'}'}}

    </pre>
  </section>
  <hr />
  <section>
    <h3>List</h3>
    <ol type="i">
      <li>Mohackel</li>
      <li>Nici</li>
      <li>Baby Bear</li>
      <li>Simone</li>
      <li>Andreas</li>
      <li>Joyful Fox</li>
      <li>Porcupine</li>
    </ol>
  </section>

<section>
  <h3>Abbreviation</h3>
  This page describes <abbr title="Hypertext Markup Language">HTML</abbr> elements and how to use them correctly.
</section>

<section>
  <h3>Table</h3>
  <table>
      <tr>
        <td>col</td>
        <td>col</td>
        <td>col</td>
        <td>col</td>
        <td>col</td>
        <td>col</td>
        <td>col</td>
        <td>col</td>
        <td>col</td>
        <td>col</td>
        <td>col</td>
      </tr>
      <tr>
          <td>col</td>
          <td>col</td>
          <td>col</td>
          <td>col</td>
          <td>col</td>
          <td>col</td>
          <td>col</td>
          <td>col</td>
          <td>col</td>
          <td>col</td>
          <td>col</td>
        </tr>
        <tr>
            <td>col</td>
            <td>col</td>
            <td>col</td>
            <td>col</td>
            <td>col</td>
            <td>col</td>
            <td>col</td>
            <td>col</td>
            <td>col</td>
            <td>col</td>
            <td>col</td>
          </tr>
    </table>
</section>


  <footer>
    <h3>Footer</h3>
    <p>This document provides examples of some HTML5 elements.</p>
  </footer>
</div>
